include *.txt README CHANGELOG LICENSE NOTICE CREDITS
include *.sh
include *.py
include gc
recursive-include etc *.conf
recursive-include examples *
recursive-include legal *.py
recursive-include migration *.py
recursive-include genconf *.py *.jpg *.html *.yaml
recursive-include tests *.py *.yaml
